# Server Configuration

PORT=5000

# MongoDB

MONGO_URI=mongodb://127.0.0.1:27017/texmind-ai

# JWT Secret

JWT_SECRET=your_super_secret_jwt_key

# Environment

NODE_ENV=development

# Gemini AI (Optional)

GEMINI_API_KEY=YOUR_GEMINI_API_KEY

# Cloudinary (Optional)

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
